<a href="https://colab.research.google.com/github/Marchosh/NFL-Prediction-2022/blob/main/Model/NFL_load_model_and_accuracy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Marchosh/NFL-Prediction-2022/main/Data/2019_NFL_COMBINE_REFORMATED.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Week,Day,Date,Unnamed: 5,Opp,Tm,Opp.1,1stD,...,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team
0,0,0,1,Sun,9/8/2019,W,Tampa Bay Buccaneers,31.0,17.0,17.0,...,2.0,21.0,295.0,174.0,121.0,4.0,-7.51,19.12,1.10,San Francisco 49ers
1,1,1,2,Sun,9/15/2019,W,Cincinnati Bengals,41.0,17.0,27.0,...,1.0,14.0,316.0,291.0,25.0,1.0,27.34,1.14,-6.64,San Francisco 49ers
2,2,2,3,Sun,9/22/2019,W,Pittsburgh Steelers,24.0,20.0,26.0,...,5.0,11.0,239.0,160.0,79.0,2.0,-3.72,10.20,0.12,San Francisco 49ers
3,3,3,4,NaN,NaN,NaN,Bye Week,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco 49ers
4,4,4,5,Mon,10/7/2019,W,Cleveland Browns,31.0,3.0,22.0,...,NaN,9.0,180.0,78.0,102.0,4.0,12.38,22.56,-10.50,San Francisco 49ers

In [ ]:
#df.to_csv('2019_NFL_COMBINE_REFORMATED.csv')

In [ ]:
df.dropna(subset = ['Unnamed: 5', 'Date'], inplace=True)

In [ ]:
df.drop(['Unnamed: 0','Week','Day'], axis =1 ,inplace=True)

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
#Sort and reset index
df = df.sort_values(by='Date',ascending=True)
df.reset_index(inplace=True)
df

,index,Unnamed: 0.1,Date,Unnamed: 5,Opp,Tm,Opp.1,1stD,TotYd,PassY,...,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team
0,124,124,2019-01-04,L,Houston Texans,19.0,22.0,24.0,425.0,253.0,...,1.0,19.0,360.0,219.0,141.0,1.0,-1.04,-2.61,1.38,Buffalo Bills
1,538,538,2019-01-04,W,New England Patriots,20.0,13.0,19.0,272.0,71.0,...,1.0,18.0,307.0,209.0,98.0,2.0,2.83,0.84,0.20,Tennessee Titans
2,518,518,2019-01-04,W,Buffalo Bills,22.0,19.0,19.0,360.0,219.0,...,1.0,24.0,425.0,253.0,172.0,1.0,2.61,1.04,-1.38,Houston Texans
3,390,390,2019-01-04,L,Tennessee Titans,13.0,20.0,18.0,307.0,209.0,...,2.0,19.0,272.0,71.0,201.0,1.0,-0.84,-2.83,-0.20,New England Patriots
4,249,249,2019-01-05,L,Seattle Seahawks,9.0,17.0,20.0,282.0,162.0,...,NaN,16.0,382.0,318.0,64.0,NaN,-1.96,-10.59,3.79,Philadelphia Eagles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,247,247,2019-12-29,W,New York Giants,34.0,17.0,25.0,400.0,279.0,...,NaN,19.0,397.0,275.0,122.0,2.0,6.30,6.61,-0.16,Philadelphia Eagles
514,88,88,2019-12-29,L,Cincinnati Bengals,23.0,33.0,15.0,313.0,239.0,...,3.0,22.0,361.0,182.0,179.0,1.0,1.53,-12.26,3.69,Cleveland Browns
515,266,266,2019-12-29,W,Tampa Bay Buccaneers,28.0,22.0,28.0,373.0,286.0,...,1.0,14.0,329.0,193.0,136.0,3.0,-8.27,5.96,9.46,Atlanta Falcons
516,37,37,2019-12-29,W,Minnesota Vikings,21.0,19.0,24.0,337.0,179.0,...,1.0,14.0,300.0,126.0,174.0,3.0,1.26,-2.15,-1.08,Chicago Bears
517,441,441,2019-12-29,W,Pittsburgh Steelers,28.0,10.0,19.0,304.0,81.0,...,2.0,10.0,168.0,77.0,91.0,2.0,-4.16,11.07,8.63,Baltimore Ravens

In [ ]:
#drop unecessary column
df.drop(['index', 'Unnamed: 0.1'], axis =1, inplace=True)
df

,Date,Unnamed: 5,Opp,Tm,Opp.1,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team
0,2019-01-04,L,Houston Texans,19.0,22.0,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,-1.04,-2.61,1.38,Buffalo Bills
1,2019-01-04,W,New England Patriots,20.0,13.0,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,2.83,0.84,0.20,Tennessee Titans
2,2019-01-04,W,Buffalo Bills,22.0,19.0,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,2.61,1.04,-1.38,Houston Texans
3,2019-01-04,L,Tennessee Titans,13.0,20.0,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,-0.84,-2.83,-0.20,New England Patriots
4,2019-01-05,L,Seattle Seahawks,9.0,17.0,20.0,282.0,162.0,120.0,NaN,16.0,382.0,318.0,64.0,NaN,-1.96,-10.59,3.79,Philadelphia Eagles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,2019-12-29,W,New York Giants,34.0,17.0,25.0,400.0,279.0,121.0,NaN,19.0,397.0,275.0,122.0,2.0,6.30,6.61,-0.16,Philadelphia Eagles
514,2019-12-29,L,Cincinnati Bengals,23.0,33.0,15.0,313.0,239.0,74.0,3.0,22.0,361.0,182.0,179.0,1.0,1.53,-12.26,3.69,Cleveland Browns
515,2019-12-29,W,Tampa Bay Buccaneers,28.0,22.0,28.0,373.0,286.0,87.0,1.0,14.0,329.0,193.0,136.0,3.0,-8.27,5.96,9.46,Atlanta Falcons
516,2019-12-29,W,Minnesota Vikings,21.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.26,-2.15,-1.08,Chicago Bears
517,2019-12-29,W,Pittsburgh Steelers,28.0,10.0,19.0,304.0,81.0,223.0,2.0,10.0,168.0,77.0,91.0,2.0,-4.16,11.07,8.63,Baltimore Ravens

In [ ]:
#save the file
df.to_csv('NFL2019_BeforePred.csv')

#Preprocess Data

In [ ]:
df.drop(['Date',	'Unnamed: 5', 'Tm',	'Opp.1'], axis =1, inplace=True)
df

,Opp,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team
0,Houston Texans,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,-1.04,-2.61,1.38,Buffalo Bills
1,New England Patriots,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,2.83,0.84,0.20,Tennessee Titans
2,Buffalo Bills,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,2.61,1.04,-1.38,Houston Texans
3,Tennessee Titans,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,-0.84,-2.83,-0.20,New England Patriots
4,Seattle Seahawks,20.0,282.0,162.0,120.0,NaN,16.0,382.0,318.0,64.0,NaN,-1.96,-10.59,3.79,Philadelphia Eagles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,New York Giants,25.0,400.0,279.0,121.0,NaN,19.0,397.0,275.0,122.0,2.0,6.30,6.61,-0.16,Philadelphia Eagles
514,Cincinnati Bengals,15.0,313.0,239.0,74.0,3.0,22.0,361.0,182.0,179.0,1.0,1.53,-12.26,3.69,Cleveland Browns
515,Tampa Bay Buccaneers,28.0,373.0,286.0,87.0,1.0,14.0,329.0,193.0,136.0,3.0,-8.27,5.96,9.46,Atlanta Falcons
516,Minnesota Vikings,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.26,-2.15,-1.08,Chicago Bears
517,Pittsburgh Steelers,19.0,304.0,81.0,223.0,2.0,10.0,168.0,77.0,91.0,2.0,-4.16,11.07,8.63,Baltimore Ravens

In [ ]:
#fill null with 0
df['TO'] = df['TO'].fillna(0)
df['TO.1'] = df['TO.1'].fillna(0)
df = pd.DataFrame(df, columns=df.columns)

In [ ]:
#All team name
away = {
    'Opp': ['Tampa Bay Buccaneers', 'Cincinnati Bengals',
       'Pittsburgh Steelers', 'Los Angeles Rams', 'Washington Redskins',
       'Carolina Panthers', 'Seattle Seahawks', 'Arizona Cardinals',
       'Baltimore Ravens', 'New Orleans Saints', 'Atlanta Falcons',
       'Minnesota Vikings', 'Kansas City Chiefs', 'Oakland Raiders',
       'Los Angeles Chargers', 'New York Giants', 'Detroit Lions',
       'San Francisco 49ers', 'Buffalo Bills', 'Cleveland Browns',
       'Miami Dolphins', 'Tennessee Titans', 'Houston Texans',
       'New York Jets', 'Jacksonville Jaguars', 'Indianapolis Colts',
       'New England Patriots', 'Philadelphia Eagles', 'Denver Broncos',
       'Chicago Bears', 'Dallas Cowboys', 'Green Bay Packers',
       'Washington Football Team', 'Las Vegas Raiders',
       'Washington Commanders']}
home = {
       'Home_team': ['San Francisco 49ers', 'Chicago Bears', 'Cincinnati Bengals',
       'Denver Broncos', 'Cleveland Browns', 'Tampa Bay Buccaneers',
       'Buffalo Bills', 'Arizona Cardinals', 'Los Angeles Chargers',
       'Kansas City Chiefs', 'Indianapolis Colts', 'Dallas Cowboys',
       'Miami Dolphins', 'Philadelphia Eagles', 'Atlanta Falcons',
       'New York Giants', 'Jacksonville Jaguars', 'New York Jets',
       'Detroit Lions', 'Green Bay Packers', 'Carolina Panthers',
       'New England Patriots', 'Oakland Raiders', 'Los Angeles Rams',
       'Baltimore Ravens', 'New Orleans Saints', 'Seattle Seahawks',
       'Pittsburgh Steelers', 'Houston Texans', 'Tennessee Titans',
       'Minnesota Vikings']
}
away_t = pd.DataFrame(data=away)
home_t = pd.DataFrame(data=home)
df_teamname = pd.concat([away_t, home_t], axis=1)
df_teamname

                         Opp             Home_team
0       Tampa Bay Buccaneers   San Francisco 49ers
1         Cincinnati Bengals         Chicago Bears
2        Pittsburgh Steelers    Cincinnati Bengals
3           Los Angeles Rams        Denver Broncos
4        Washington Redskins      Cleveland Browns
5          Carolina Panthers  Tampa Bay Buccaneers
6           Seattle Seahawks         Buffalo Bills
7          Arizona Cardinals     Arizona Cardinals
8           Baltimore Ravens  Los Angeles Chargers
9         New Orleans Saints    Kansas City Chiefs
10           Atlanta Falcons    Indianapolis Colts
11         Minnesota Vikings        Dallas Cowboys
12        Kansas City Chiefs        Miami Dolphins
13           Oakland Raiders   Philadelphia Eagles
14      Los Angeles Chargers       Atlanta Falcons
15           New York Giants       New York Giants
16             Detroit Lions  Jacksonville Jaguars
17       San Francisco 49ers         New York Jets
18             Buffalo Bills         Detroit Lions
19          Cleveland Browns     Green Bay Packers
20            Miami Dolphins     Carolina Panthers
21          Tennessee Titans  New England Patriots
22            Houston Texans       Oakland Raiders
23             New York Jets      Los Angeles Rams
24      Jacksonville Jaguars      Baltimore Ravens
25        Indianapolis Colts    New Orleans Saints
26      New England Patriots      Seattle Seahawks
27       Philadelphia Eagles   Pittsburgh Steelers
28            Denver Broncos        Houston Texans
29             Chicago Bears      Tennessee Titans
30            Dallas Cowboys     Minnesota Vikings
31         Green Bay Packers                   NaN
32  Washington Football Team                   NaN
33         Las Vegas Raiders                   NaN
34     Washington Commanders                   NaN

In [ ]:
#Combine 2 dataframe
df2 = pd.concat([df, df_teamname])
df2

,Opp,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team
0,Houston Texans,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,-1.04,-2.61,1.38,Buffalo Bills
1,New England Patriots,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,2.83,0.84,0.20,Tennessee Titans
2,Buffalo Bills,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,2.61,1.04,-1.38,Houston Texans
3,Tennessee Titans,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,-0.84,-2.83,-0.20,New England Patriots
4,Seattle Seahawks,20.0,282.0,162.0,120.0,0.0,16.0,382.0,318.0,64.0,0.0,-1.96,-10.59,3.79,Philadelphia Eagles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,Dallas Cowboys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota Vikings
31,Green Bay Packers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Washington Football Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Las Vegas Raiders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Washington Commanders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#COnver to dummy
df2 = pd.get_dummies(df2, columns=['Opp','Home_team'])
df2

,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,...,Home_team_New Orleans Saints,Home_team_New York Giants,Home_team_New York Jets,Home_team_Oakland Raiders,Home_team_Philadelphia Eagles,Home_team_Pittsburgh Steelers,Home_team_San Francisco 49ers,Home_team_Seattle Seahawks,Home_team_Tampa Bay Buccaneers,Home_team_Tennessee Titans
0,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,...,0,0,0,0,0,0,0,0,0,1
2,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,20.0,282.0,162.0,120.0,0.0,16.0,382.0,318.0,64.0,0.0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#drop the added column
df2.reset_index(inplace=True, drop=True)
df2.drop(df2.index[518:553], axis=0, inplace=True)
df2.shape

(518, 79)

In [ ]:
df2

,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,...,Home_team_New Orleans Saints,Home_team_New York Giants,Home_team_New York Jets,Home_team_Oakland Raiders,Home_team_Philadelphia Eagles,Home_team_Pittsburgh Steelers,Home_team_San Francisco 49ers,Home_team_Seattle Seahawks,Home_team_Tampa Bay Buccaneers,Home_team_Tennessee Titans
0,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,...,0,0,0,0,0,0,0,0,0,1
2,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,20.0,282.0,162.0,120.0,0.0,16.0,382.0,318.0,64.0,0.0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,25.0,400.0,279.0,121.0,0.0,19.0,397.0,275.0,122.0,2.0,...,0,0,0,0,1,0,0,0,0,0
514,15.0,313.0,239.0,74.0,3.0,22.0,361.0,182.0,179.0,1.0,...,0,0,0,0,0,0,0,0,0,0
515,28.0,373.0,286.0,87.0,1.0,14.0,329.0,193.0,136.0,3.0,...,0,0,0,0,0,0,0,0,0,0
516,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,...,0,0,0,0,0,0,0,0,0,0
517,19.0,304.0,81.0,223.0,2.0,10.0,168.0,77.0,91.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Robust Scaller
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
df_scaled = scaler.fit_transform(df2)
df_scaled.shape

(518, 79)

In [ ]:
df_scaled = pd.DataFrame(df_scaled, columns=df2.columns)
df_scaled.describe()

,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,...,Home_team_New Orleans Saints,Home_team_New York Giants,Home_team_New York Jets,Home_team_Oakland Raiders,Home_team_Philadelphia Eagles,Home_team_Pittsburgh Steelers,Home_team_San Francisco 49ers,Home_team_Seattle Seahawks,Home_team_Tampa Bay Buccaneers,Home_team_Tennessee Titans
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,...,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
mean,-0.081908,0.018114,0.011456,0.110607,0.189189,0.031715,-0.000750,0.007028,0.119776,0.188224,...,0.032819,0.030888,0.030888,0.030888,0.032819,0.030888,0.036680,0.034749,0.030888,0.036680
std,0.699818,0.683586,0.741988,0.770887,0.630402,0.715513,0.710785,0.736753,0.778055,0.634895,...,0.178334,0.173182,0.173182,0.173182,0.178334,0.173182,0.188156,0.183321,0.173182,0.188156
min,-2.142857,-1.898438,-1.764151,-1.301818,-0.500000,-2.000000,-1.959514,-1.709677,-1.286765,-0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.571429,-0.500000,-0.528302,-0.440000,-0.500000,-0.428571,-0.526316,-0.536866,-0.433824,-0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.428571,0.500000,0.471698,0.560000,0.500000,0.571429,0.473684,0.463134,0.566176,0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.142857,2.304688,2.405660,2.596364,3.000000,2.285714,2.396761,2.364055,2.654412,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#Load model

In [ ]:
from tensorflow.keras.datasets import mnist
from tensorflow.keras.layers import Dense, Flatten, Conv2D
from tensorflow.keras.losses import sparse_categorical_crossentropy
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Sequential, save_model, load_model

# Recreate the exact same model, including its weights and the optimizer
model = load_model('NFLmodel.h5')

# Show the model architecture
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_17 (Dense)            (None, 79)                6320

 activation_12 (Activation)  (None, 79)                0

 dense_18 (Dense)            (None, 100)               8000

 activation_13 (Activation)  (None, 100)               0

 dropout_7 (Dropout)         (None, 100)               0

 dense_19 (Dense)            (None, 80)                8080

 activation_14 (Activation)  (None, 80)                0

 dropout_8 (Dropout)         (None, 80)                0

 dense_20 (Dense)            (None, 1)                 81

=================================================================
Total params: 22,481
Trainable params: 22,481
Non-trainable params: 0
_________________________________________________________________

#Test

In [ ]:
df_evaluation = df_scaled
df['prediction'] = model.predict(df_evaluation)

17/17 [==============================] - 0s 2ms/step

In [ ]:
df_scaled.shape

(518, 79)

In [ ]:
df_evaluation.to_csv('NFL2019_prediction.csv')

In [ ]:
df.head(5)

,Opp,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team,prediction
0,Houston Texans,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,-1.04,-2.61,1.38,Buffalo Bills,16.853371
1,New England Patriots,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,2.83,0.84,0.20,Tennessee Titans,21.091152
2,Buffalo Bills,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,2.61,1.04,-1.38,Houston Texans,16.901636
3,Tennessee Titans,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,-0.84,-2.83,-0.20,New England Patriots,14.812966
4,Seattle Seahawks,20.0,282.0,162.0,120.0,0.0,16.0,382.0,318.0,64.0,0.0,-1.96,-10.59,3.79,Philadelphia Eagles,15.044460

In [ ]:
df['Away_score'] = 0
df

In [ ]:
#assigning the away score
  #df.iloc[i][0] = opp
  #df.iloc[i][14] = Home_team
#df_evaluation['opp_score']


# for i in range(len(df)):
#   home = df.iloc[i][14]
#   away = df.iloc[i][0]
#   score = df.iloc[i][15]
#   for x in range(len(df)):
#     home_2 = df.iloc[x][14]
#     away_2 = df.iloc[x][0]
#     if home_2 == away and away_2 == home:
#       df['Away_score'][x] = score

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
df

,Opp,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,Home_team,prediction,Away_score
0,Houston Texans,24.0,425.0,253.0,172.0,1.0,19.0,360.0,219.0,141.0,1.0,-1.04,-2.61,1.38,Buffalo Bills,16.853371,16
1,New England Patriots,19.0,272.0,71.0,201.0,1.0,18.0,307.0,209.0,98.0,2.0,2.83,0.84,0.20,Tennessee Titans,21.091152,14
2,Buffalo Bills,19.0,360.0,219.0,141.0,1.0,24.0,425.0,253.0,172.0,1.0,2.61,1.04,-1.38,Houston Texans,16.901636,16
3,Tennessee Titans,18.0,307.0,209.0,98.0,2.0,19.0,272.0,71.0,201.0,1.0,-0.84,-2.83,-0.20,New England Patriots,14.812966,21
4,Seattle Seahawks,20.0,282.0,162.0,120.0,0.0,16.0,382.0,318.0,64.0,0.0,-1.96,-10.59,3.79,Philadelphia Eagles,15.044460,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,New York Giants,25.0,400.0,279.0,121.0,0.0,19.0,397.0,275.0,122.0,2.0,6.30,6.61,-0.16,Philadelphia Eagles,26.037970,15
514,Cincinnati Bengals,15.0,313.0,239.0,74.0,3.0,22.0,361.0,182.0,179.0,1.0,1.53,-12.26,3.69,Cleveland Browns,13.781538,24
515,Tampa Bay Buccaneers,28.0,373.0,286.0,87.0,1.0,14.0,329.0,193.0,136.0,3.0,-8.27,5.96,9.46,Atlanta Falcons,23.194281,18
516,Minnesota Vikings,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.26,-2.15,-1.08,Chicago Bears,17.502159,19
517,Pittsburgh Steelers,19.0,304.0,81.0,223.0,2.0,10.0,168.0,77.0,91.0,2.0,-4.16,11.07,8.63,Baltimore Ravens,24.977264,15

In [ ]:
# df.to_csv('NFL2019_accuracy.csv')